.newline{
  white-space: pre-wrap;
}

#portfolio h1{
  font-size: 2rem;
}

.feature-item{
  text-align: center;
  margin-top:2.5em;
  padding-left:2em;
  padding-right:2em;
}

.center{
  text-align: center;
}

.warning{
  color: red;
}

#ajax-loader{
  position: relative;
  height: 800px;
  min-height: 500px;
  width: 100%;
  background: #000;
  background-size: cover !important;
 -webkit-background-size: cover !important;
  text-align: center;
  overflow: hidden;
}

#ajax-loader img{
  
}
